<center>
    <table bgcolor="#f2f2f2" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
        <tbody>
        <tr>
            <td align="center" style="padding:90px 20px;" valign="top">
                <table align="center" border="0" cellpadding="0" cellspacing="0"
                       style="border-bottom:0;font-family:Arial, Verdana, Tahoma;font-size:12px;color:#000;"
                       width="680">
                    <tbody>
                    <tr>
                        <td align="left">
                            <table style="font-family:Arial, Verdana, Tahoma;background-color:#fff;border:1px solid #ddd;font-size:13px;line-height:18px;" width="100%">
                                <tbody>
                                <tr>
                                    <td align="center" style="text-align:left;padding:25px;font-size:13px;line-height:18px;background-color:#FFFFFF;">
                                        <div style="text-align:center">
                                            <img src="http://res.cloudinary.com/hyjvcxzjt/image/upload/v1491943366/lc/logo.png"
                                                 width="141" height="105">
                                        </div>
                                        <p style="font-size:24px;line-height:24px;padding:0;margin:20px 0 30px;">
                                            <strong>Hi {{User.DisplayName}}, </strong></p>
                                        <p style="font-size: 18px;margin:0;padding:0;line-height:1.2; margin-bottom: 18px;"> We're sorry that you're having trouble with your Leadership Circle account.</p>
                                        <p style="margin:0 0 15px;padding:0;line-height:1.2;">You can easily reset your password by <strong> clicking on the link below </strong></p>
                                        <p><a href="{{PasswordResetURL}}" style="color:#f07c2b;text-decoration:underline;" target="_blank">Click to reset your password!</a></p>
                                        <p style="margin:20px 0 20px;padding:0;line-height:1.2;">If you cannot click on the link just copy/paste it to your browser.</p>
                                        <p>{{PasswordResetURL}}</p>
                                        <p>The link is valid for 2 hours after which you must request a new password reset link. The link will not be valid if you have requested a new password reset link, in which case use the most recent link to reset your password.</p>
                                        <p style="margin:0 0 10px;padding:0;line-height:1.3;"> </p>
                                        <p style="margin:0 0 10px;padding:0;line-height:1.3;">Best wishes,<br/>The Leadership Circle Team
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <hr style="border-color:#669900; background-color:#669900; ">
                                    </td>
                                </tr>
                                <tr>

                                    <td style="padding-left: 24px;">
                                                            <span style="font-size:13px"><span
                                                                    style="font-family:lato,helvetica neue,helvetica,arial,sans-serif"><span
                                                                    style="color:#669900">FARM FORWARD</span></span><br>
                                            <span style="font-family:lato,helvetica neue,helvetica,arial,sans-serif"><span
                                                    style="color:#696969">PO Bo 4120 Portland, OR 97208<br>
                                            tel. 877-313-3276 &nbsp;| fax. 877-313-3276<br>
                                            farmforward.com</span></span></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>

        </tbody>
    </table>
</center>