<script id="donationList" type="text/x-kendo-template" >
    <div class="container-fluid">
        <h3>Donations</h3>
        <hr>
        <div>
            <div class="bp-search-container" id="donationList-input-container">
                    <span class="search-icon">
                        <i class="material-icons">search</i>
                    </span>
                <input type="search" id="donationList-search-input" class="bp-search" placeholder="Start typing to filter by Name..." name="search" autocomplete="off" />
            </div>
            <hr>
            <div class="col-sm-12">
                <div id="donationList-grid" ></div>
            </div>
        </div>
    </div>
    <div id="donationReport-window"></div>
</script>