
<script id="platformHeader" type="text/x-kendo-template">
    <nav class="navbar" id="ff-platform-header">
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-left" role="menu">
                    <li>
                        <ol class="breadcrumb" id="platform-nav-breadcrumb">
                            <li class="dropdown">
                                <a href="\\#/" class="dropdown-toggle" data-toggle="dropdown">
                                    <span> GH Platform </span>
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="\\#/backloglist">View Backlog!</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown hidden">
                                <a href="\\#/" class="dropdown-toggle" data-toggle="dropdown">
                                    <span id="platform-currentSite">Farm Forward</span>
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="http://betterfoodfoundation.tech/">Better Food Foundation</a>
                                    </li>
                                    <li>
                                        <a href="http://buyingpoultry.tech/">Buying Poultry</a>
                                    </li>
                                    <li>
                                        <a href="http://farmforward.tech/">Farm Forward</a>
                                    </li>
                                    <li>
                                        <a href="http://jifa.tech/">JIFA</a>
                                    </li>
                                    <li>
                                        <a href="http://leadershipcircle.tech/">Leadership Circle</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="ghfeedback-btn">Send Feedback</a>
                            </li>
                            <li>
                                <a href="\\#/feedbacklist">View Feedback</a>
                            </li>
                        </ol>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right" role="menu" id="ff-platform-header-menu">
                    <li id="ff-feature-blog">
                        <a class="btn btn-sm" href="\\#/"></a>
                    </li>
                    <!--<li id="platform-site" class="dropdown">
                        Site <span class="caret"></span>
                        <ul class="dropdown-menu">
                            <li id="platform-site-edit">
                                <a href="\\#/siteeditor?view=info">Edit Site Info?</a>
                            </li>
                            <li id="platform-site-menu">
                                <a href="\\#/menuEditor">Edit Main Menu?</a>
                            </li>
                        </ul>
                    </li>-->
                    <li id="platform-retail" class="site-bp">
                        <a class="btn btn-sm" href="\\#/retail">
                            Retailers
                        </a>
                    </li>
                    <li id="platform-brand" class="site-bp">
                        <a class="btn btn-sm" href="\\#/brand">
                            Brands
                        </a>
                    </li>
                 <!--   <li id="platform-label" class="site-bp">
                        <a class="btn btn-sm" href="\\#/labellist">
                            Labels
                        </a>
                    </li>-->
                    <li id="platform-blogs">
                        <a class="btn btn-sm" href="\\#/bloglist">
                            Blogs!
                        </a>
                    </li>
                    <li id="platform-pages">
                        <a class="btn btn-sm" href="\\#/pagelist">
                            Pages!
                        </a>
                    </li>
                  <!--  <li id="platform-campaign">
                        <a class="btn btn-sm" href="\\#/campaignlist">
                            Campaigns!
                        </a>
                    </li>-->
                    <!--<li id="platform-donation">
                        <a class="btn btn-sm" href="\\#/donationlist">
                            Donations!
                        </a>
                    </li>
                    <li id="platform-pledge">
                        <a class="btn btn-sm" href="\\#/pledgelist">
                            Pledges!
                        </a>
                    </li>-->
                    <li id="platform-donations">
                        <a class="btn btn-sm" href="\\#/donorlist">
                            Donors?
                        </a>
                    </li>
                    <li id="platform-glossary">
                        <a class="btn btn-sm" href="\\#/glossaryeditor">
                            Glossary?
                        </a>
                    </li>
                    <li id="platform-contributor">
                        <a class="btn btn-sm" href="\\#/contributoreditor">
                            People?
                        </a>
                    </li>
                    <li id="platform-legislation">
                        <a class="btn btn-sm" href="\\#/myvote">
                            Legislation?
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</script>