
<div class="modal fade" id="pledgeEditor" tabindex="-1" role="dialog" aria-labelledby="pledgeEditor">
    <div class="modal-dialog staff-modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Donation Widget Editor (Staff)
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="pledgeEditor-title">Title</label>
                        <input type="text" class="form-control" id="pledgeEditor-title"  data-bind="value: title"/>
                    </div>

                    <div class="form-group">
                        <label for="pledgeEditor-message">Message</label>
                        <input type="text" class="form-control" id="pledgeEditor-message"  data-bind="value: message"/>
                    </div>

                    <div class="form-group">
                        <label for="pledgeEditor-thankyou">Thank You Message</label>
                        <input type="text" class="form-control" id="pledgeEditor-thankyou"  data-bind="value: thankyou"/>
                    </div>

                    <div class="form-group checkbox">
                        <label for="pledgeEditor-showThankYou">
                            <input type="checkbox" id="pledgeEditor-showThankYou" value="false" data-bind="checked: showThankYou"/>
                            Show Thank You Message
                        </label>
                    </div>

                    <div class="form-group">
                        <label for="pledgeEditor-donationId">Donation Identifier </label>
                        <input type="text" class="form-control" id="pledgeEditor-donationId"  data-bind="value: donationId"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" onclick="pledgeEditor.close()">Cancel</button>
                <button class="btn-primary btn" type="button" onclick="pledgeEditor.doSave()" id="pledgeEditor-save">Save</button>
            </div>
        </div>
    </div>
</div>
