<script id="privacy" type="text/x-kendo-template">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h2>Legal and Privacy</h2>
                <div class="poultry-content-ctr privacy-content">
                    <h4>Disclosure and Disclaimer</h4>
                    <p>
                        <i>Disclosure</i> <br>
                        The descriptions and analyses expressed on BuyingPoultry represent the <b>views and opinions</b> of BuyingPoultry. <br><br>

                        We do not accept money, gifts, or samples from companies in exchange for special consideration in the preparation of our reviews or ratings. <br><br>

                        If you have a comment about BuyingPoultry or questions about our ratings, please know <a href="#/contact"><b>we welcome your comments and questions</b></a>.
                    </p>

                    <p>
                        <i>Grade Disclaimer</i> <br>
                        BuyingPoultry <b>does not conduct independent audits</b> to verify farms practices. Our product evaluations rely almost exclusively on the <b>legally verifiable claims and third-party certifications</b> that products carry. Although it's our goal to ensure that all the information on this website is correct, <b>we cannot guarantee its completeness or its accuracy</b>, nor can we commit to ensuring that all the material is kept up-to-date on a daily basis. Therefore we cannot accept liability for any errors or omissions on our website. If you feel that any information on our site, including product grades, is inaccurate, please <a href="#/contact">contact us</a> so that we can correct it. <a href="#/labelguide">Learn more about our grading system</a>.
                    </p>

                    <p>
                        <i>Copyright disclaimer</i> <br>
                        This site contains copyrighted material the use of which has not always been specifically authorized by the copyright owner. We are making such material available in our efforts to advance understanding of environmental, political, animal welfare, and social justice issues, etc. We believe this constitutes a “fair use” of any such copyrighted material as provided for in section 107 of the US Copyright Law. In accordance with Title 17 U.S.C. Section 107, the material on this site is distributed without profit to those who have expressed a prior interest in receiving the included information for research and educational purposes. If you wish to use copyrighted material from this site for purposes of your own that go beyond “fair use,” you must obtain permission from the copyright owner.
                    </p>
                    <p>
                        <i>Affiliation Disclaimer</i> <br>
                        All product names, trademarks, and images used on BuyingPoultry.com are the property of their respective owners. Such owners are not affiliated with and do not endorse either Farm Forward or BuyingPoultry.
                    </p>

                    <p><b>Privacy Policy</b></p>
                    <p>
                        Farm Forward protects the privacy of visitors to our website. The following policies extend to all sites created by Farm Forward.
                    </p>
                    <p>
                        <i>What information does Farm Forward collect?</i> <br>
                        We do not collect personal information from our visitors other than what is supplied to us on a voluntary basis.
                    </p>
                    <p>
                        <i>How does Farm Forward use the information gathered from the above sources?</i> <br>
                        We use your information to send you details about our programs and activities, and to capture funds donated via our website.
                    </p>
                    <p>
                        Farm Forward also uses information gathered on our website to improve the functionality and features of our site. We analyze our web traffic in order to measure interest in and use of various areas of our site and use this information to make our site more user-friendly and improve our content.
                    </p>
                    <p>
                        <i>Does Farm Forward rent, sell, or trade my information?</i> <br>
                        Your information will not be exchanged with organizations, companies or individuals who are not affiliated with Farm Forward.
                    </p>
                    <p>
                        <i>Does Farm Forward use cookies on its site?</i> <br>
                        Our site does use “cookies” on some pages. A cookie is a small piece of data that is placed on a visitor’s hard drive when specific areas of our site are accessed. These cookies do not contain or capture any personal information and pose no threat to your computer’s hardware or software. We use cookies to enhance the user experience. Visitors can configure their browsers to be alerted when a site is attempting to send a cookie and refuse the cookie, though some Farm Forward pages may not function properly without accepting cookies.
                    </p>
                    <p>
                        <i>How is information used in the Farm Forward newsletter?</i> <br>
                        You will only receive e-mail newsletters from us if you have expressly signed up to receive them. The information that we gather from subscribers to our mailing lists is never shared with other organizations or companies not affiliated with Farm Forward. While we may send out e-mail messages that include information about these like-minded organizations and companies, we do not provide them with access to any personal information that you have provided.
                    </p>
                    <p>
                        In order to provide you with better and more relevant information, we compile information about e-mail response and website usage. This information helps us to better understand site usage patterns and also what types of content and information may help improve your user experience on the Farm Forward site.
                    </p>
                    <p>
                        All e-mail messages sent to e-mail newsletter subscribers contain a link to unsubscribe. You may subscribe to or unsubscribe from all e-mail communication from Farm Forward at any time.
                    </p>
                    <p>
                        If you have any questions about the Farm Forward newsletter, please e-mail <a href="mailto:info@farmforward.com">info@farmforward.com</a>.
                    </p>
                    <p>
                        <i>How does Farm Forward protect your information?</i> <br>
                        Our site has security measures in place to protect against the loss, misuse, or alteration of the information under our control. Our servers are located in a locked, secure environment.
                        When you contribute to Farm Forward online, we use a secure server and encryption to protect your financial and other personal information during transmission.
                    </p>
                    <p>
                        When you contribute to Farm Forward online, we use a secure server and encryption to
                        protect your financial and other personal information during transmission.
                    </p>
                    <p>
                        <b>Additional questions?</b>
                    </p>
                    <p>
                        If you have any questions about our privacy policy, the information that we have collected from you online, the practices of this site, or your interactions with this site, please e-mail <a href="mailto:info@farmforward.com">info@farmforward.com</a>.
                    </p>
                    <p>
                        You can also reach us via mail: <br>
                    </p>
                    <address>
                        Farm Forward<br>
                        PO Box 4120<br>
                        Portland, OR 97208
                    </address>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</script>