<script id="SignInBlock-tmpl" type="text/html">
    <div class="container">
            <div class="gh-signinblock">
                <h2 class="gh-signinblock-title">#:buttonTitle#</h2>
                <div class="gh-signinblock-description">
                    #=description#
                </div>
                <br>
                <div>
                    <button class="gh-signinblock-btn btn btn-default" onclick="#:buttonClick#" >#:buttonText#</button>
                </div>

            </div>
        </div>
</script>