<!-- Brand Template -->
<script id="brand" type="text/x-kendo-template">
    <nav class="navbar navbar-default navbar-secondary">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a href="#/">
                        <i class="material-icons">arrow_back</i> Back to Home
                    </a>
                </li>
            </ul>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle bpstaff" data-toggle="dropdown">
                            <i class="material-icons staff-icon">account_circle</i>
                            Staff tools <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <button class="button" type="button" onclick="brandEditor.addBrand()">
                                    <i class="material-icons">add</i> Add Brand
                                </button>
                            </li>
                            <li>
                                <button type="button" class="listBtn" onclick="brandEditor.editRetailers()">
                                    <i class="material-icons">edit</i> Edit Retailers
                                </button>
                            </li>

                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="view">
            <div>
                <div class="view-top">
                    <h2>Brands</h2>
                    <p>Manage and edit brands...</p>
                </div>

                <div class="row">

                </div>
                <div class="row productSearch-area">
                    <div class="col-sm-3">
                        <button class="btn btn-default btn-block visible-xs" type="button" data-toggle="collapse" data-target="#mobile-brandFilters" id="toggle-mobileBrandFilters">
                            <i class="fa fa-filter"></i>
                            <span id="toggle-mobileBrandFilters-txt"></span>
                        </button>
                        <div id="mobile-BrandFilters" class="collapse in">
                            <div class="well">
                                <div id="brandSearch-category"></div>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-9 bp-search-resultList">
                        <span id="brandSearch-stats" class="bp-search-stats"></span>
                        <div class="clearfix"></div>
                        <div id="brandSearch-div">
                            <div class="bp-search-container">
                            <span id="brandSearch-icon" class="search-icon">
                            <i class="material-icons">search</i>
                        </span>
                                <div id="brandSearch-container"></div>
                            </div>
                        </div>
                        <div id="brandSearch-results"></div>
                        <div id="brandSearch-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</script>
