<!-- Contributor View Template -->
<script id="contributorView" type="text/x-kendo-template">
    <div>
        <div class="container" >
            <div class="col-sm-12 profileContent">
                <h2 id="contributorView-title">Farm Forward Team</h2>
                <p id="contributorView-subtitle">Discover the people behind the passion.</p>

                <div class="bp-search-container" id="contributorView-input-container">
                    <span class="search-icon">
                        <i class="material-icons">search</i>
                    </span>
                    <input type="search" id="contributorView-search-input" class="bp-search" placeholder="Search people..." name="search" autocomplete="off" />
                </div>

                <div class="contributor-container">
                    <div id="contributorView-listView" ></div>
                    <div class="k-page-wrap">
                        <div id="contributorView-pager"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</script>