<script id="feedbackList" type="text/html" >
    <div class="container-fluid feedbackList-container">
        <h3>Feedback</h3>
        <hr>

            <div class="form-group">
                <label for="feedbackSite-selector">Sites</label>
                <input id="feedbackSite-selector" class="form-control"  style="width: 280px;" />
            </div>

        <div>
            <div class="gh-search-container" id="feedbackList-input-container">
                    <span class="search-icon">
                        <i class="material-icons">search</i>
                    </span>
                <input type="search" id="FeedbackList-search-input" class="gh-search" style="width: 280px;" placeholder="Start typing to filter by Project..."  autocomplete="off" />
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-12">
                    <div id="feedbackList-grid" ></div>
                </div>
            </div>
        </div>
    </div>

    <div id="feedbackReport-window"></div>

</script>