<script id="mfmView" type="text/x-kendo-template">
    <div class="mfmView">
        <section class="mfm-video-player">
            <iframe id="mfm-video-frame" src="https://player.vimeo.com/video/217057155?autoplay=0&color=ff9933&title=0&byline=0&portrait=0&badge=0" width="640" height="267" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <section id="mfm-content">
                        <h2>Milk-Free Mornings</h2>
                        <p>
                            Our choices matter.  Almost half of all cow’s milk consumed in the U.S. is consumed at the breakfast table.<sup>1</sup> Every time we find a humane alternative to cow’s milk, we help reduce the suffering of cows on dairy farms. It’s simple: Drinking less milk means fewer animals suffer.</p>
                        <p>
                            Despite what the dairy industry would like us to believe, most dairy cows are kept in confinement throughout their lives, and they’re fed unnatural diets to boost milk production. Cows on organic dairy farms are supposed to have free access to pasture, but too often that isn’t the case.<sup>2</sup></p>
                        <p>
                            What’s worse, virtually all dairy cows are separated from their calves almost immediately after birth.<sup>3</sup> The stress of their separation causes significant emotional distress for both the mother and her calf. Just like in humans,<sup>4</sup> research has shown that calves who are immediately isolated experience anxiety and cognitive deficits.<sup>5</sup> They also gain less weight<sup>6</sup> and have more frequent diarrhea<sup>7</sup> than calves who are not immediately isolated from their mothers. The dairy cows’ themselves also suffer when they are separated from their young: in addition to psychological and emotional distress, they have worse udder and uterine health than cows who are allowed to nurse their young.<sup>8</sup> Male calves born into the dairy industry become veal, spending the remainder of their short lives confined to a small hut until slaughter; female calves become either veal or dairy cows.
                        </p>
                        <h2>Pledge</h2>
                        <p>
                            Our choices matter. By leaving dairy out of our morning routines we can improve our health, the environment, and the lives of dairy cows and their young. It’s simple: less milk means fewer animals suffer. Take the  Milk Free Mornings  pledge now and start your day a better way. A huge variety of plant-based milks provide a perfect replacement to cow’s milk. Take the pledge and we’ll send you coupons for some of our favorite brands.
                        </p>
                        <p>
                            Questions?  Check out our <a href="#/faq" class="gh-text-link" title="FAQ page">FAQ</a> to see a list of the questions we hear most often, and contact us if you’d like any additional info.
                        </p>


                            <div class="mfm-cite well">
                                <a class="btn-link btn" onclick="mfmView.toggleCite();" data-toggle="collapse" data-target="#mfm-cite-container">
                                    <span>View References</span>
                                    <i class="material-icons" id="mfm-cite-icon">keyboard_arrow_down</i>
                                </a>
                                <div id="mfm-cite-container" class="collapse">
                                    <br>
                                <ul class="list-unstyled">
                                    <li>
                                        <sup>1</sup> Auestad, N., Quann, E.E., & Fulgoni, V.L. 3rd. (2013, May). What’s for Breakfast? How Dairy Fits Into Breakfast Patterns of Children and Adults .  Dairy Research Institute Data Brief No. 1301.  Dairy Research Institute .
                                    </li>
                                    <li>
                                        <sup>2</sup> Whoriskey, P. (2017, May 01). Why your 'organic' milk may not be organic.  The Washington Post . Retrieved May 10, 2017, from https://www.washingtonpost.com/business/economy/why-your-organic-milk-may-not-be-organic/2017/05/ 01/708ce5bc-ed76-11e6-9662-6eedf1627882_story.html?utm_term=.842927548c58
                                    </li>
                                    <li>
                                        <sup>3</sup>  Wagner, K., Seitner, D., Barth, K., Palme, R., Futschik, A., & Waiblinger, S. (2015). Effects of mother versus artificial rearing during the first 12 weeks of life on challenge responses of dairy cows.  Applied Animal Behaviour Science ,  164 , 1-11.
                                    </li>
                                    <li>
                                        <sup>4</sup> Fact Sheet:  Long-Term Consequences of Child Abuse and Neglect. (2013, July). Child Welfare Information  Gateway. Children’s Bureau. Retrieved May 11, 2017 from https://www.childwelfare.gov/pubPDFs/long_term_consequences.pdf
                                    </li>
                                    <li>
                                        <sup>5</sup>  Gaillard, C., Meagher, R. K., von Keyserlingk, M. A., & Weary, D. M. (2014). Social housing improves dairy calves' performance in two cognitive tests.  PloS one ,  9 (2), e90205.
                                    </li>
                                    <li>
                                        <sup>6</sup>  Krohn, C. C., Foldager, J., & Mogensen, L. (1999). Long-term effect of colostrum feeding methods on behaviourinfemaledairycalves. ActaAgriculturaeScandinavica,SectionA-AnimalScience,   49 (1), 57-64.
                                    </li>
                                    <li>
                                        <sup>7</sup>  Weary, D. M., & Chua, B. (2000). Effects of early separation on the dairy cow and calf: 1. Separation at 6 h, 1 day and 4 days after birth.  Applied Animal Behaviour Science ,  69 (3), 177-188.
                                    </li>
                                    <li>
                                        <sup>8</sup>  Busch, G., Weary, D. M., Spiller, A., & von Keyserlingk, M. A. (2017). American and German attitudes towards cow-calf separation on dairy farms.  PloS one ,  12 (3), e0174013.
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </section>
                </div>
                <div class="col-sm-12 col-md-6">
                    <section id="mfm-pledge">
                        <div id="mfmPledgeBlock" data-role="PledgeBlock" data-pledgeId="bff-milk-free-mornings"></div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</script>