<script id="pageList" type="text/x-kendo-template" >
    <div class="container-fluid">
        <h3>Pages</h3>
        <hr>
        <form>
            <div class="form-group">
                <label for="site-selector">Site</label>
                <input id="site-selector" class="form-control"  style="width: 280px;" />
            </div>
        </form>
        <div>
            <div class="bp-search-container" id="pageList-input-container">
                    <span class="search-icon">
                        <i class="material-icons">search</i>
                    </span>
                <input type="search" id="pageList-search-input" class="bp-search" placeholder="Start typing to filter by Title..." name="search" autocomplete="off" />
            </div>
            <hr>
            <div class="col-sm-12">
                <div id="pageList-grid" ></div>
            </div>
        </div>
    </div>
</script>