<!-- Product Template -->
<script id="product" type="text/x-kendo-template">
    <nav class="navbar navbar-default navbar-secondary">
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle bpstaff" data-toggle="dropdown">
                            <i class="material-icons staff-icon">account_circle</i>
                            Staff tools <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <button type="button" class="listBtn"  onclick="productView.editBrands()">
                                    <i class="material-icons">edit</i> Edit Brands
                                </button>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="view">
        <div class="container">
            <div>
                <div class="view-top">
                    <h2>Products</h2>
                    <p>Search for your favorite products and favorite them.</p>
                </div>
                <div class="row productSearch-area">
                    <div class="col-sm-3">
                        <button class="btn btn-default btn-block visible-xs" type="button" data-toggle="collapse" data-target="#mobile-productFilters" id="toggle-mobileProductFilters">
                            <i class="fa fa-filter"></i>
                            <span id="toggle-mobileProductFilters-txt">Show results</span>
                        </button>
                        <div id="mobile-productFilters" class="collapse in">
                            <div class="well">
                                <div id="productSearch-category"></div>
                                <hr>

                                <div id="productSearch-productCategory"></div>
                                <hr>

                                <div id="productSearch-brandName">
                                </div>

                                <hr>
                                <ul id="productSearch-legend" class="list-unstyled">
                                    <li>
                                        Legend
                                    </li>
                                    <li>
                                        <img src="images/icon-certified.svg" class="icon-legend"/>
                                        <span>Certification</span>
                                    </li>
                                    <li>
                                        <img src="images/icon-claim.svg" class="icon-legend"/>
                                        <span>Claims</span>
                                    </li>
                                    <li>
                                        <span class="icon-plant"></span> <span>Plant Based</span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-9" id="productList-container">
                        <span class="pull-right" id="productSearch-stats"></span>
                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="col-sm-12" id="productSearch-div">
                                <div class="bp-search-container">
                                    <span id="productSearch-icon" class="search-icon">
                                        <i class="material-icons">search</i>
                                    </span>
                                    <div id="productSearch-container" class="algoliaBox"></div>
                                </div>
                            </div>
                        </div>
                        <div id="productSearch-results"></div>
                        <div id="productSearch-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- product modal -->
    <div id="productModal" class="fade modal" role="dialog" style="display: none;" tabindex="-1" data-model="productModal.activeObj">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" onclick="productModal.closeModal()" aria-label="Close">
                        <i class="material-icons">close</i>
                    </button>
                </div>
                <div class="row bpstaff hidden">
                    <div class="col-sm-12">
                        <ul class="list-inline">
                            <li class="pull-left">
                                <i class="material-icons staff-icon">account_circle</i>
                                Farm Forward Staff
                            </li>
                            <li class="pull-right">
                                <button type="button" class="btn action actionIcon" onclick="productModal.editProduct()">
                                    <i class="material-icons">edit</i>
                                </button>
                            </li>
                            <!--<li class="pull-right">
                                <button type="button" class="btn action-delete actionIcon"  onclick="brandModal.deleteBrand()">
                                    <i class="material-icons">delete</i>
                                </button>
                            </li>-->
                        </ul>
                        <div class="clearfix"></div>
                        <hr>
                    </div>
                </div>
                <div class="modal-body">
                    <div data-bind="visible: imageUrl">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-md-offset-3 productModal-img">
                                <img data-bind="attr: {src: imageUrl}" class="img-rounded center-block" />
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="margin-15">
                            <h3 id="productModal-title" >
                                <span data-bind="text: productName"></span>
                                <span data-bind="visible: isPlantBased" class="icon-plant"></span>
                            </h3>

                            <p id="productModal-subInfo">
                                <span id="productModal-brand" data-bind="text: brandName"></span>
                                <span class="hidden-xs">
                                    <span class="bp-rating" data-bind="text: categoryString"></span>
                                </span>
                            </p>
                            <div data-bind="text: categoryString" class="bp-rating visible-xs" id="productModal-category"></div>
                            <div class="clearfix"></div>
                        </div>
                        <div>
                            <p class="subHeader">
                                Product Info
                            </p>
                            <p class="productModal-helper">Click item for more info</p>
                            <table class="table hidden-xs productModal-infoList">
                                <tr data-bind="visible: isPlantBased">
                                    <td>
                                        Plant Based
                                    </td>
                                    <td>Yes</td>
                                </tr>
                                <tr>
                                    <td>Grade</td>
                                    <td>
                                        <a class="label label-cert productModal-infoTag" onclick="productModal.displayGradeName(event)" data-bind="attr: { data-gradename : gradeName}" >
                                            <span data-bind="text: gradeName"></span>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Certifications</td>
                                    <td>
                                        <div data-bind="html: certString">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Claims</td>
                                    <td>
                                        <div data-bind="html: claimString"></div>
                                    </td>
                                </tr>
                            </table>
                            <table class="table visible-xs">
                                <tr>
                                    <td>
                                        Grade:
                                        <span data-bind="text: gradeName"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Certifications</td>
                                </tr>
                                <tr>
                                    <td class="no-border-top">
                                        <div data-bind="html: certString">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Claims</td>
                                </tr>
                                <tr>
                                    <td class="no-border-top">
                                        <div data-bind="html: claimString"></div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div data-bind="visible: infoCategory">
                        <hr>
                        <div class="well">
                            <p class="helper subHeader">
                                More Info
                                <button type="button" class="close" onclick="productModal.hideInfo();">
                                    <i class="material-icons">close</i>
                                </button>
                            </p>
                            <h4 class="productModal-subInfo">
                                <span data-bind="visible: infoImageUrl">
                                    <img src="images/icon-defaultProduct.png" data-bind="attr: {src: infoImageUrl}" class="productModal-infoImg">
                                </span>

                                <span data-bind="text: infoTitle"></span>
                                <span data-bind="visible: infoCategory">(<span data-bind="text: infoCategory"></span>)</span>
                            </h4>
                            <div data-bind="html: infoContent"></div>
                            <br/>
                            <a onclick="productModal.goToLabelGuide();">
                                Check out our label guide for more info.
                            </a>

                        </div>
                    </div>
                </div>
                <div class="modal-footer" id="productModal-actions">
                    <a role="button" class="actionIcon" data-bind="visible: brandUrl, attr: {href: brandUrl}" target="_blank" data-toggle="tooltip" data-placement="right" title="View product website">
                        <i class="material-icons">open_in_new</i>
                    </a>
                    <a role="button" class="actionIcon" data-bind="visible: searchUrl, attr: {href: searchUrl}" target="_blank" data-toggle="tooltip" data-placement="right" title="Search Product on Google">
                        <i class="material-icons">search</i>
                    </a>
                    <button type="button" class="actionIcon fav" onclick="productModal.toggleFav(event);" data-bind="visible: ux_allowFav" data-favorite="false" data-toggle="tooltip" data-placement="right" title="Favorite">
                        <i class="material-icons">favorite_border</i>
                    </button>
                    <div class="bp-share">
                        <ul class="rrssb-buttons clearfix">
                            <li class="rrssb-share-text">Share</li>
                            <li class="rrssb-email">
                                <!-- Replace subject with your message using URL Encoding: http://meyerweb.com/eric/tools/dencoder/ -->
                                <a class="share-email" href="mailto:?subject=Buying Poultry&body=Check out Buying Poultry!   http://www.buyfarmforward.com">
                                    <span class="rrssb-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28"><path d="M20.11 26.147c-2.335 1.05-4.36 1.4-7.124 1.4C6.524 27.548.84 22.916.84 15.284.84 7.343 6.602.45 15.4.45c6.854 0 11.8 4.7 11.8 11.252 0 5.684-3.193 9.265-7.398 9.3-1.83 0-3.153-.934-3.347-2.997h-.077c-1.208 1.986-2.96 2.997-5.023 2.997-2.532 0-4.36-1.868-4.36-5.062 0-4.75 3.503-9.07 9.11-9.07 1.713 0 3.7.4 4.6.972l-1.17 7.203c-.387 2.298-.115 3.3 1 3.4 1.674 0 3.774-2.102 3.774-6.58 0-5.06-3.27-8.994-9.304-8.994C9.05 2.87 3.83 7.545 3.83 14.97c0 6.5 4.2 10.2 10 10.202 1.987 0 4.09-.43 5.647-1.245l.634 2.22zM16.647 10.1c-.31-.078-.7-.155-1.207-.155-2.572 0-4.596 2.53-4.596 5.53 0 1.5.7 2.4 1.9 2.4 1.44 0 2.96-1.83 3.31-4.088l.592-3.72z"/></svg></span>
                                </a>
                            </li>
                            <li class="rrssb-facebook">
                                <!--  Replace with your URL. For best results, make sure you page has the proper FB Open Graph tags in header: https://developers.facebook.com/docs/opengraph/howtos/maximizing-distribution-media-content/ -->
                                <a onclick="shareModel.fbClick(event)">
                                    <span class="rrssb-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29 29"><path d="M26.4 0H2.6C1.714 0 0 1.715 0 2.6v23.8c0 .884 1.715 2.6 2.6 2.6h12.393V17.988h-3.996v-3.98h3.997v-3.062c0-3.746 2.835-5.97 6.177-5.97 1.6 0 2.444.173 2.845.226v3.792H21.18c-1.817 0-2.156.9-2.156 2.168v2.847h5.045l-.66 3.978h-4.386V29H26.4c.884 0 2.6-1.716 2.6-2.6V2.6c0-.885-1.716-2.6-2.6-2.6z"/></svg></span>
                                </a>
                            </li>
                            <li class="rrssb-twitter">
                                <!-- Replace href with your Meta and URL information  -->
                                <a  href="https://twitter.com/intent/tweet?text=Check Out Buying Poultry! http://www.buyfarmforward.com" class="popup share-twitter">
                                    <span class="rrssb-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28"><path d="M24.253 8.756C24.69 17.08 18.297 24.182 9.97 24.62a15.093 15.093 0 0 1-8.86-2.32c2.702.18 5.375-.648 7.507-2.32a5.417 5.417 0 0 1-4.49-3.64c.802.13 1.62.077 2.4-.154a5.416 5.416 0 0 1-4.412-5.11 5.43 5.43 0 0 0 2.168.387A5.416 5.416 0 0 1 2.89 4.498a15.09 15.09 0 0 0 10.913 5.573 5.185 5.185 0 0 1 3.434-6.48 5.18 5.18 0 0 1 5.546 1.682 9.076 9.076 0 0 0 3.33-1.317 5.038 5.038 0 0 1-2.4 2.942 9.068 9.068 0 0 0 3.02-.85 5.05 5.05 0 0 1-2.48 2.71z"/></svg></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- brand modal -->
    <div id="brandModal" class="fade modal" role="dialog" style="display: none;" tabindex="-1" data-model="brandModal.activeObj">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" onclick="brandModal.closeModal()" aria-label="Close">
                        <i class="material-icons">close</i>
                    </button>
                    <div class="row bpstaff hidden">
                        <div class="col-sm-12">
                            <ul class="list-inline">
                                <li class="pull-left">
                                    <i class="material-icons staff-icon">account_circle</i>
                                    Farm Forward Staff
                                </li>
                                <li class="pull-right">
                                    <button type="button" class="btn action actionIcon" onclick="brandModal.editBrand()">
                                        <i class="material-icons">edit</i>
                                    </button>
                                </li>
                                <!--<li class="pull-right">
                                    <button type="button" class="btn action-delete actionIcon"  onclick="brandModal.deleteBrand()">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </li>-->
                            </ul>
                            <div class="clearfix"></div>
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="brandModal-img pull-left">
                        <img data-bind="attr: {src: brandImageUrl}" class="img-rounded center-block" />
                    </div>
                    <div class="brandModal-info pull-left">
                        <h3 id="brandModal-title" >
                            <span data-bind="text: brandName"></span>
                        </h3>

                        <div class="brandModal-rating-container pull-left">
                            <div class="bp-rating-max" data-bind="visible: maxCategory">
                                <div class="bp-rating">
                                    <span data-bind="text: maxCategory"></span>
                                </div>
                            </div>
                            <div class="bp-rating-min" data-bind="visible: minCategory">
                                <div class="bp-rating">
                                    <span data-bind="text: minCategory"></span>
                                </div>
                            </div>
                        </div>
                        <p class="subInfo pull-left">
                            <span data-bind="text: productCount"></span>
                        </p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer" id="brandModal-actions">
                    <a role="button" class="actionIcon" data-bind="visible: brandUrl, attr: {href: brandUrl}" target="_blank" data-toggle="tooltip" data-placement="left" title="View Brand website">
                        <i class="material-icons">open_in_new</i>
                    </a>
                    <a role="button" class="actionIcon" target="_blank" data-bind="visible: searchUrl, attr: {href: searchUrl}" data-toggle="tooltip" data-placement="left" title="Search Brand On Google">
                        <i class="material-icons">search</i>
                    </a>
                    <button type="button" class="actionIcon fav" onclick="brandModal.toggleFav(event);" data-bind="visible: ux_allowFav" data-favorite="false" data-toggle="tooltip" data-placement="left" title="Favorite">
                        <i class="material-icons">favorite_border</i>
                    </button>

                    <div class="bp-share">
                        <ul class="rrssb-buttons clearfix">
                            <li class="rrssb-share-text">Share</li>
                            <li class="rrssb-email">
                                <!-- Replace subject with your message using URL Encoding: http://meyerweb.com/eric/tools/dencoder/ -->
                                <a class="share-email" href="mailto:?subject=Buying Poultry&body=Check out Buying Poultry!   http://www.buyfarmforward.com">
                                    <span class="rrssb-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28"><path d="M20.11 26.147c-2.335 1.05-4.36 1.4-7.124 1.4C6.524 27.548.84 22.916.84 15.284.84 7.343 6.602.45 15.4.45c6.854 0 11.8 4.7 11.8 11.252 0 5.684-3.193 9.265-7.398 9.3-1.83 0-3.153-.934-3.347-2.997h-.077c-1.208 1.986-2.96 2.997-5.023 2.997-2.532 0-4.36-1.868-4.36-5.062 0-4.75 3.503-9.07 9.11-9.07 1.713 0 3.7.4 4.6.972l-1.17 7.203c-.387 2.298-.115 3.3 1 3.4 1.674 0 3.774-2.102 3.774-6.58 0-5.06-3.27-8.994-9.304-8.994C9.05 2.87 3.83 7.545 3.83 14.97c0 6.5 4.2 10.2 10 10.202 1.987 0 4.09-.43 5.647-1.245l.634 2.22zM16.647 10.1c-.31-.078-.7-.155-1.207-.155-2.572 0-4.596 2.53-4.596 5.53 0 1.5.7 2.4 1.9 2.4 1.44 0 2.96-1.83 3.31-4.088l.592-3.72z"/></svg></span>
                                </a>
                            </li>
                            <li class="rrssb-facebook">
                                <!--  Replace with your URL. For best results, make sure you page has the proper FB Open Graph tags in header: https://developers.facebook.com/docs/opengraph/howtos/maximizing-distribution-media-content/ -->
                                <a onclick="shareModel.fbClick(event)">
                                    <span class="rrssb-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29 29"><path d="M26.4 0H2.6C1.714 0 0 1.715 0 2.6v23.8c0 .884 1.715 2.6 2.6 2.6h12.393V17.988h-3.996v-3.98h3.997v-3.062c0-3.746 2.835-5.97 6.177-5.97 1.6 0 2.444.173 2.845.226v3.792H21.18c-1.817 0-2.156.9-2.156 2.168v2.847h5.045l-.66 3.978h-4.386V29H26.4c.884 0 2.6-1.716 2.6-2.6V2.6c0-.885-1.716-2.6-2.6-2.6z"/></svg></span>
                                </a>
                            </li>
                            <li class="rrssb-twitter">
                                <!-- Replace href with your Meta and URL information  -->
                                <a  href="https://twitter.com/intent/tweet?text=Check Out Buying Poultry! http://www.buyfarmforward.com" class="popup share-twitter">
                                    <span class="rrssb-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28"><path d="M24.253 8.756C24.69 17.08 18.297 24.182 9.97 24.62a15.093 15.093 0 0 1-8.86-2.32c2.702.18 5.375-.648 7.507-2.32a5.417 5.417 0 0 1-4.49-3.64c.802.13 1.62.077 2.4-.154a5.416 5.416 0 0 1-4.412-5.11 5.43 5.43 0 0 0 2.168.387A5.416 5.416 0 0 1 2.89 4.498a15.09 15.09 0 0 0 10.913 5.573 5.185 5.185 0 0 1 3.434-6.48 5.18 5.18 0 0 1 5.546 1.682 9.076 9.076 0 0 0 3.33-1.317 5.038 5.038 0 0 1-2.4 2.942 9.068 9.068 0 0 0 3.02-.85 5.05 5.05 0 0 1-2.48 2.71z"/></svg></span>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
<div class="modal fade" tabindex="-1" role="dialog" id="productReport-modal" data-model="productView._userReport">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="productView.closeUserReport()" aria-label="Close">
                    <i class="material-icons">close</i>
                </button>

                <h3>Product Report</h3>
                <div>You were searching for: <span data-bind="text: query" ></span></div>

            </div>
            <form id="noProduct-form">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="noProduct-name">Name*</label>
                        <input id="noProduct-name" type="text" class="form-control bp-search-noIcon"  data-bind="value: product" placeholder="Product name..." required />
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label for="noProduct-brand">Brand*</label>
                        <input id="noProduct-brand" type="text" class="form-control" data-bind="value: brand" required />
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label for="noProduct-category">Category (Chicken, Eggs, Turkey) *</label>
                        <select id="noProduct-category" class="form-control" data-bind="value: category" required >
                            <option value="chicken">Chicken</option>
                            <option value="egg">Eggs</option>
                            <option value="turkey">Turkey</option>
                        </select>
                        <div class="help-block with-errors"></div>
                    </div>
                    <p>* Required</p>
                    <div class="noProduct-locationInfo hidden">
                        <div class="form-group">
                            <label for="noProduct-store">Store Name</label>
                            <input id="noProduct-store" type="search" class="form-control" data-bind="value: store" />
                        </div>
                        <div class="form-group">
                            <label for="noProduct-address">Address</label>
                            <input id="noProduct-address" type="search" class="form-control"  data-bind="value: address" />
                        </div>
                        <div class="form-group">
                            <label for="noProduct-comment">Comment</label>
                            <input id="noProduct-comment" type="search" class="form-control" data-bind="value: comment" />
                        </div>
                    </div>
                    <br>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit" onclick="productView.doSendReport()">Send Info</button>
                    <button class="btn btn-default" type="button" onclick="productView.addLocation()">
                        <i class="material-icons">near_me</i>
                        Add Location
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</script>

<script id="noProductsTemplate" type="text/x-kendo-template">
    <div class=productList-noResults>
        <h3>
            <i class="material-icons">warning</i>
            Oops, looks you've discovered a new Product.
        </h3>
        <p>Send us the product info and we'll do our best to add it!</p>

        <br>
        <button class="btn btn-primary" type="submit" onclick="productView.openUserReport()">Send Product Report</button>
    </div>
</script>